<blockquote class="blockquote">
    <p>{{text_explanation}}</p>
    <p>
	<i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
	<i class="fa fa-cc-visa fa-4x" aria-hidden="true"></i>
	<i class="fa fa-cc-mastercard fa-4x" aria-hidden="true"></i>
	<i class="fa fa-cc-diners-club fa-4x" aria-hidden="true"></i>
	<i class="fa fa-apple fa-4x" aria-hidden="true"></i>
	<i class="fa fa-android fa-4x" aria-hidden="true"></i>
    </p>
</blockquote>
