<blockquote class="blockquote">
    <p>{{text_explanation}}</p>
    <ul class="list-inline bank-icon">
	{% for bank in banks %}
	    <img src="catalog/view/theme/mikran/image/banks/{{bank}}">
	{% endfor %}
    </ul>
</blockquote>
